html {
  background-color: #dbd6cf;
}
h1 {
  color: #79756f;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.5;
  font-family:'Bevan', cursive;
}
ul {
  color: #713837;
  list-style-type: none;
  padding: 0;
  font-family: arial;
}

a:hover {
  color: #fe3333;
}
h2 {
  color: #79756f;
  font-weight: normal;
  line-height: 1.5;
  font-family:'Bevan', cursive;
}

h3 {
  color: #79756f;
  font-weight: normal;
  line-height: 1.5;
  font-family:'Bevan', cursive;
}

/*Introduction */

.firstparagraph{
  font-family: arial,normal;
}
.quote{
font-size: 1.5rem;
font-style: italic;
text-align: center;
}
.speaker {
  font-style: italic;
  text-align: right;
  color: #79756f;
}

/* Terrestial Planets */

ol {
font-family: arial;
list-style-type:lower-roman;
}

.venus{
  font-family: arial,normal;
}
.mars {
  font-family: arial,normal;
}
em{
  font-family: arial;
}
/*Venus*/
dl{
  font-family: arial;
  list-style-type: none;
}
dt {
  font-family: arial;
  font-weight: bold;
}
/*Mars*/
dl{
  font-family: arial;
  list-style-type: none;
}
dt {
  font-family: arial;
  font-weight: bold;
}
figcaption {
  font-style: italic;
  font-family: arial;
}
.quotation{
  color: #79756f;
  font-size: 2rem;
}
b{
  color: #79756f;
}
.pluto{
  font-weight: normal;
  color: #79756f
}
dl{
  list-style-type: circle;
}
