html {
  background-color: #dbd6cf;
}
h1 {
  color: #79756f;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.5;
  font-family:'Bevan', cursive;
}
ul {
  color: #713837;
  list-style-type: none;
  padding: 0;
}

a:hover {
  color: #fe3333;
}
h2 {
  color: #79756f;
  font-weight: normal;
  line-height: 1.5;
  font-family:'Bevan', cursive;
}

h3 {
  color: #79756f;
  font-weight: normal;
  line-height: 1.5;
  font-family:'Bevan', cursive;
}

/*Introduction */

.firstparagraph{
  font-family: arial,normal;
}
.quote{
font size: 1.5rem;
font style: italic;
text-align: center;
}

/* Terrestial Planets */

ol {
list-style-type: lower-roman;
font-family: arial;
padding: 0;
}

.venus{
  font-family: arial,normal;
}
.mars {
  font-family: arial,normal;
}

em {
  color: #79756f;
}
